[color]
  ui = auto
[user]
	email = cooperlebrun@gmail.com
	name = Cooper LeBrun
[alias]
  df = diff
	co = checkout
	ci = commit
	st = status --short
	br = branch
	hist = log --graph --pretty=format:'%an: %s - %Cred%h%Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  type = cat-file -t
  dump = cat-file -p
	aa = add --all
	ch = checkout
