*.DS_Store
!xmonad/.xmonad/xmonad.hs
!xmonad/.xmonad/xmobarrc
xmonad/.xmonad/*
kakoune/.config/kak/plugins/*
emacs/.emacs.d/saves/*
emacs/.emacs.d/custom.el
fish/.config/fish/*
!fish/.config/fish/config.fish
!fish/.config/fish/functions

