*.DS_Store
sources/!xmonad/.xmonad/xmonad.hs
sources/!xmonad/.xmonad/xmobarrc
sources/xmonad/.xmonad/*
sources/kakoune/.config/kak/plugins/*
sources/emacs/.emacs.d/saves/*
sources/emacs/.emacs.d/custom.el
sources/emacs/.emacs.d/elpa/
sources/fish/.config/fish/*
sources/!fish/.config/fish/config.fish
sources/!fish/.config/fish/functions
sources/kitty/.config/kitty/theme.conf
sources/kitty/.config/kitty/kitty-themes
sources/clojure/.clojure/.cpcache