!! Comments begin with a "!" character.

!!XTerm configs.
!XTerm*background:       black
!XTerm*foreground:       white
!XTerm*cursorColor:      white
!XTerm*faceName: Lucida Console
!XTerm*faceName: Bitstream Vera Serif Mono

!!URxvt configs
URxvt*font: xft:DejaVu Sans Mono :size=12
URxvt*letterspace: -1
URxvt*background:       black
URxvt*cursorColor:      white
URxvt*foreground:       white
URxvt*transparent:		true
URxvt*shading:			30
