[init]
  defaultBranch = main

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[color]
  ui = auto

# personal github creds
[user]
	email = cooperlebrun@gmail.com
	name = Cooper LeBrun

[alias]
  rs = restore
  df = diff
  dc = diff --cached
  ci = commit
  st = status --short
  br = branch -v
  re = remote -v
  wt = worktree
  pre = pull origin master --rebase
  fpre = pull origin master --rebase --autostash
  hist = log --graph --pretty=format:'%an: %s - %Cred%h%Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  l = log --oneline
  type = cat-file -t
  dump = cat-file -p
  aa = add --all
  ch = checkout
  ph = push
  unci = reset --soft HEAD~
  unstage = reset HEAD *
  ap = add -p
  mnf = merge --no-ff
  amend = commit --amend

[push]
  default = simple

[github]
  user = clebrun

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default