{:aliases {:neil {:deps      {io.github.babashka/neil {:git/tag "v0.1.41"
                                                       :git/sha "77288d4"}}
                  :main-opts ["-m" "babashka.neil"]}}}
